/* CONTAINERS */

.appContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(var(--container-width));
    height: calc(var(--container-height));
    /* border: 3px solid pink; */
}

/*TODO: Create gsap timeline to shift the centered content everytime you shift to a new tab */
.xboxComponent {
    position: absolute;
    display: inline-block;
    width: inherit;
    width: inherit;
    height: inherit;
    /* overflow: hidden; */
}

.mainContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: inherit;
    height: inherit;
    /* border: 10px solid red; */
}

.bladeMask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: inherit;
    height: inherit;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* overflow: hidden; */
    pointer-events: none;
}


.bladeContainerMask {
    position: absolute;
    width: inherit;
    /* width: calc(100% + 250px); */
    height: inherit;
    left: 50%;
    top: 50%;
    /* max-height: 760px; */
    transform: translate(-50%, -50%);
    /* background-color: #f1f2f6; */
    /* background-image: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%); */
    /* overflow: hidden; */
    /* visibility: hidden; */
}




.topContainerBorder {
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    box-shadow: 0 1px 5px 0 black;
    z-index: 1;
}

.bottomContainerBorder {
    position: absolute;
    width: 100%;
    height: 5px;
    top: calc(100% - 5px);
    background-image: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    box-shadow: 0 -1px 5px 0 black;
    z-index: 1;
}


.curvedGlassOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../assets/images/glass-overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    pointer-events: none;
}



.blade > p {
    position: relative;
    display: block;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
    white-space: nowrap;
}


.topBorder {
    position: absolute;
    width: calc(99%);
    height: 90px;
    left: 51%;
    transform: translateX(-50%);
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 0px 0px 70px 70px;
}

.bottomBorder {
    position: absolute;
    width: calc(100%);
    height: 90px;
    top: 89%;
    left: 51%;
    transform: translateX(-50%);
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 80px 80px 0px 0px;
}

/* .dashboardWhiteUnderlay {
    position: absolute;
    left: 10px;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/dashboard_white_underlay.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
} */

.leftEdge {
    position: absolute;
    width: 100px;
    height: 110%;
    left: -100px;
    transform: translate(60%, -5%);
    background: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    border-radius: 50%;
    border: 8px solid rgb(99, 99, 99);
}

.rightEdge {
    position: absolute;
    width: 100px;
    height: 110%;
    left: calc(100% - 100px);
    transform: translate(60%, -5%);
    background: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    border-radius: 50%;
    border: 8px solid rgb(99, 99, 99);
}



.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    top: 89%;
    padding: 0 35px;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 100%;
    margin-top: 5px;
}

.buttonStyle {
    width: 100%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

#yButton {
    background-image: url('../assets/images/y_button.png');
    margin-bottom: 5px;
    margin-left: 20px;
}

#xButton {
    background-image: url('../assets/images/x_button.png');
}

#bButton {
    background-image: url('../assets/images/b_button.png');
    margin-bottom: 5px;
    margin-left: -20px;
}

#aButton {
    background-image: url('../assets/images/a_button.png');
}


.backgroundsContainer {

}

.pageContentArea {
    position: absolute;
    width: calc(920px);
    height: 100%;
    max-width: calc(var(--container-width));
    max-height: var(--container-height);
    /* border: 5px solid limegreen; */
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    /* border: 2px solid red; */
}

.staticContent {
    position: absolute;
    width: 100%;
    height: inherit;
    /* border: 5px solid red; */
    z-index: 1;
    pointer-events: none;
}









.marketplaceBackground {
    position: absolute;
    width: calc(100%);
    height: 100%;
    /* background: linear-gradient(89.59deg, #F47B1E 0.88%, #FFA743 50.8%, #F47B1E 99.29%); */
    background-image: url("../assets/images/marketplace_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 75% 50%;
    z-index: -10;
}

.xboxliveBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(231deg, #f78833, #f3ab58);
    background-size: 400% 400%;
    /* animation: xboxlive_color_scheme_gradient 10s ease infinite; */
    z-index: -9;
}

@keyframes xboxlive_color_scheme_gradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

.gamesBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(231deg, #69cf38, #43903d);
    background-size: 400% 400%;
    /* animation: games_color_scheme_gradient 10s ease infinite; */
    z-index: -8;
}

@keyframes games_color_scheme_gradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}



.mediaBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(231deg, #449aed, #297bc4);
    background-size: 400% 400%;
    /* animation: media_color_scheme_gradient 10s ease infinite; */
    z-index: -7;
}

@keyframes media_color_scheme_gradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

.systemBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(250deg, #8E6ED1, #7057a7);
    /* animation: system_color_scheme_gradient 10s ease infinite; */
    background-size: 400% 400%;
    z-index: -6;
}

@keyframes system_color_scheme_gradient {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}

.sectionHeading {
    position: absolute;
    left: 30px;
    top: 55px;
    z-index: 10;
    color: white;
    font-weight: 500;
}



/*System Tray*/

.systemTrayContainer {
    position: absolute;
    width: calc(100% - 200px);
    height: 70px;
    left: 50%;
    top: 76%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.systemTrayContainer > p {
    /* left: 30px; */
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translateY(-60%);
    font-size: 1.4rem;
}

.trayEllipse {
    width: 70px;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 7px 0 black;
}

.trayRect {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: inset 0 0 4px 0 black;
}

.trayTriangleButton {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.466);
    border-bottom: 10px solid transparent;
}

.trayRectButton {
    position: absolute;
    width: 4px;
    height: 19px;
    top: 50%;
    left: 43px;
    transform: translateY(-50%);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.466);
}


/* Navigation Buttons */

.arrowContextButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 220px;
    height: 80px;
    left: 50%;
    top: 92%;
    transform: translateX(-50%);
    border-radius: 65px;
    background-color: rgba(0, 0, 0, 0.744);
    padding-top: 10px;
    z-index: 9999;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.xboxHomeLogo {
    position: relative;
    order: 2;
    width: 100%;
    max-width: 80px;
    background-image: url("../assets/images/xbox_home_logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    /* pointer-events: none; */
    z-index: 1000;


}

.ellipseGlow {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    /* left: 50%;
    top: 50%; */
    transform: translate(0%,0%);
    border-radius: 50%;
    /* border: 5px solid red; */
    transition-duration: 0.3;
    z-index: 0;

    &:hover {
        box-shadow: 0 0 2px #68CC39b5, 0 0 8px #68CC39b5, 0 0 16px #68CC39b5, 0 0 24px #68CC39b5, 0 0 32px #336924b5;
    }
}


.leftArrow {
    order: 1;
    width: 100%;
    max-width: 40px;
    margin-right: 20px;
    background-image: url("../assets/images/nav-arrow-left.png");
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
        cursor: pointer;
    }
}

.rightArrow {
    z-index: 10000;
    order: 3;
    width: 100%;
    max-width: 40px;
    margin-left: 0px;
    background-image: url("../assets/images/nav-arrow-right.png");
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
        cursor: pointer;
    }
}






/*************************** Guide Menu  ************************************/

.guideMenuContainer {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0%;
    transform: translateX(0%);
    background-color: rgba(48, 48, 48, 0.422);
    opacity: 0;
    overflow: hidden;
    /* visibility: hidden; */
}

#guideMenuPanel{
    /* z-index: 999; */
}

.guidePanelTopBorder {
    position: absolute;
    /* width: calc(130%); */
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    left: -120px;
    /* background-position: 100% 0%; */
    height: 100px;
    /* transform: translateX(-31%); */
    width: 100%;
    /* left: 0px; */
    /* transform: translateX(-50%); */
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 0px 0px 50px 0px; 
    z-index: -1;
    background-image: url("../assets/images/guideline_menu_top_border.png");
}

.guidePanelTopBorder_Carbon {
    position: absolute;
    /* width: calc(130%); */
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    left: -120px;
    /* background-position: 100% 0%; */
    height: 100px;
    /* transform: translateX(-31%); */
    width: 100%;
    /* left: 0px; */
    /* transform: translateX(-50%); */
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 0px 0px 50px 0px; 
    z-index: -1;
    background-image: url("../assets/images/carbon_guideline_menu_top_border.png");
}

.backButtonContainer {
    position: absolute;
    display: flex;
    left: calc(100% - 270px);
    top: calc(100% - 120px);
    width: auto;
    height: 35px;
    font-size: calc(var(--text-link-size));
    cursor: pointer;
    z-index: 2;

    > p {
        position: relative;
        margin-right: 5px;
        color: var(--white-text);
    }

    .bControllerImg {
        position: relative;
        top: -2px;
        width: 32px;
        height: inherit;
        background-image: url("../assets/images/b_button.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.guidePanelBottomBorder {
    position: absolute;
    /* width: calc(130%); */
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    left: -65px;
    /* background-position: 10% 0%; */
    height: 150px;
    /* transform: translateX(-31%); */
    width: 1120px;
    /* left: calc(-2%); */
    top: calc(100% - 135px);
    /* transform: translateX(-50%); */
    /* box-shadow: inset 0 -1px 7px 0px black; */

    z-index: -1;
    background-image: url("../assets/images/guideline_menu_bottom_border.png");
}

.guidePanelBottomBorder_Carbon {
    position: absolute;
    /* width: calc(130%); */
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    left: -65px;
    /* background-position: 10% 0%; */
    height: 150px;
    /* transform: translateX(-31%); */
    width: 1120px;
    /* left: calc(-2%); */
    top: calc(100% - 135px);
    /* transform: translateX(-50%); */
    /* box-shadow: inset 0 -1px 7px 0px black; */

    z-index: -1;
    background-image: url("../assets/images/carbon_guideline_menu_bottom_border.png");
}

.guidePanel {
    position: relative;
    width: 1120px;
    height: inherit;
    left: -105%;
    transform: translateX(0%);
    /* background-color: lightgray; */
    /* transform: translateX(-100%); */
    z-index: 999;
    background-image: url("../assets/images/guideline_background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 5%;
    overflow: hidden;
}

.guidePanel_Carbon {
    position: relative;
    width: 1120px;
    height: inherit;
    left: -105%;
    transform: translateX(0%);
    /* background-color: lightgray; */
    /* transform: translateX(-100%); */
    z-index: 999;
    background-image: url("../assets/images/carbon_guideline_background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 5%;
    overflow: hidden;
}

.nameplateEdge {
    position: absolute;
    display: inline-block;
    height: calc( 100% + 40px);
    top: -20px;
    /* left: 30px; */
    left: 85%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(-1 px 0px 4px #ffffff09);
    /* background-color: red; */
    pointer-events: none;
    background-image: url("../assets/images/guide_menu_nameplate.png");
}

.nameplateEdge_Carbon {
    position: absolute;
    display: inline-block;
    height: calc( 100% + 40px);
    top: -20px;
    /* left: 30px; */
    left: 85%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(-1 px 0px 4px #ffffff09);
    /* background-color: red; */
    pointer-events: none;
    background-image: url("../assets/images/carbon_guide_menu_nameplate.png");
}


.guideSettingsView {
    position: absolute;
    width: 420px;
    height: inherit;
    left: calc(100% - 585px);
    top: 110px;
    opacity: 1;
}


.guideControllerIndicatorIcon {
    position: absolute;
    left: 25px;
    top: 160px;
    width: 35px;
    height: 35px;
    background-image: url("../assets/images/guide_controller_indicator_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.guideNameplateTitle {
    position: absolute;
    font-size: calc(var(--text-link-size));
    font-weight: bold;
    /* width: auto;
    height: auto; */
    left: -10px;
    top: 360px;
    transform: rotate(90deg);
}


.guidePanelMask {
    position: absolute;
    width: 1120px;
    left: 0px;
    height: 770px;
    outline: 2px solid red;
    /* overflow: hidden; */
    z-index: -1;
    /* background-color: red; */

}



.guidePanelBackground {
    position: absolute;
    width: inherit;
    height: inherit;
    left: -30px;
    /* background-image: url("../assets/images/guideline_background.png"); */
    z-index: -1;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    padding-left: 660px;
}
/* Disable padding-left when extending all the way */


.guidePanelClockContainer {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 50px;
    /* border: 2px solid red; */
    top: 35px;
    margin-left: 970px;
    padding-top: 25px;

    >span {
        font-size: calc(var(--text-link-size));
        color: white;
    }

    >span:nth-child(1) {
        margin-right: 1px;
    }
    >span:nth-child(2) {
        margin-right: 2px;
    }
    >span:nth-child(3) {
        margin-right: 5px;
    }
}


.profileContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "profile-img profile-desc profile-desc profile-desc";
    width: 400px;
    height: 95px;
    /* top: 100px; */
    max-height: 135px;
    border-radius: 8px;
    text-align: left;
    font-size: 1.5rem;
    /* overflow: hidden; */
    box-shadow: 0px 0px 4px 0px black;
        &:hover{
            cursor: pointer;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.467), rgba(255, 255, 255, 0) 98%);
        }
}

.profileContainer > p {
    grid-area: profile-name;
    position: relative;
    width: inherit;
    height: 35px;
    left: 10px;
    font-size: var(--screen-heading-size);
    font-weight: 500;
    z-index: 2;
}

.profileContainer > p:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: -10px;
    top: 0;
    background: linear-gradient(270deg, #00000000, #00000043 75%);
}


.profileImgContainer {
    grid-area: profile-img;

    /* background-color: violet; */
}

.profileIcon {
    position: relative;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: url('../assets/images/profile_icon.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.405);
    overflow: hidden;
}

.iconGloss {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-45%);
    border-radius: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0.446), rgba(0, 0, 0, 0));
}


.profileDescription {
    grid-area: profile-desc;
    z-index: 2;
    display: grid;
    height: 100%;
    max-height: 75px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(25px);
    grid-template-areas:
    "rep-title . rep-stars rep-stars"
    "gamerscore-title gamerscore-title . gamerscore-value"
    "zone-title . . zone-status";
    margin-right: 15px;
    margin-top: 10px;
    /* height: 90%; */
    font-size: var(--text-link-size);
}


.gamerscoreTitle {
    grid-area: gamerscore-title;
    /* background-color: lightsteelblue; */
}

.gamerscoreValue {
    grid-area: gamerscore-value;
    /* background-color: darkkhaki; */
    text-align: right;
    margin-right: 9px;
}

.zoneTitle {
    grid-area: zone-title;
    /* background-color: lightyellow; */
}

.zoneStatus {
    grid-area: zone-status;
    /* background-color: darkturquoise; */
    text-align: right;
    margin-right: 10px;
}


.multiButtonListContainer {
    position: relative;
    left: calc(0);
    top: 10px;
    width: 400px;
    height: 95px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 4px 0px black;
}

.multiButtonTitle {
    position: relative;
    width: inherit;
    height: 35px;
    left: 15px;
    top: 5px;
    font-size: var(--text-link-size);
    font-weight: 500;
}

.buttonGroup {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 15px);
    height: 50px;
    top: 40px;
    margin-left: 10px;
}

.buttonGroup > span {
    /* display: inline-block; */
    position: relative;
    top: 2.7em;
    width: 125px;
    height: inherit;

    &:after {
        content: "";
        position: absolute;
        width: 85%;
        height: 65%;
        top: 10px;
        left: 10px;
        background: linear-gradient(180deg, rgba(255,255,255,0.8) 23%, rgba(255,255,255,0) 100%);
    }
}

.skewmorphButton {
    position: relative;
    width: 125px;
    height: inherit;
    background-color: initial;
    border: none;
    background-image: url("../assets/images/guide_menu_button.png");
    margin-right: 5px;
    /* background-size: contain; */
    background-repeat: no-repeat;

    .buttonIcon {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        height: 100%;
    }
}

#skewButton_1 {
    margin-top: 3px;
    width: 50px;
}

#skewButton_2 {
    margin-top: -3px;
    width: 72px;
}


.multiButtonListContainer .multiButtonTitle {
    position: absolute;
    display: block;
    height: 2em;

}

.skewmorphButton:hover {
    cursor: pointer;
}

.skewmorphButtonHighlight {
    position: absolute;
    width: 88%;
    height: 60%;
    left: 8px;
    top: 10px;
    background: linear-gradient(180deg, rgba(255,255,255,0.4) 23%, rgba(255, 255, 255, 0) 100%);
    /* transition: opacity var(--transition_duration); */
}

.guideMusicPlayer {
    position: relative;
    display: flex;
    flex-direction: column;
    left: calc(0);
    top: 10px;
    width: 400px;
    height: 95px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 4px 0px black;
}

.musicPlayerActionButtonContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;

    > .skewmorphButton .skewmorphButtonHighlight {
        width: 83%;
    }


    #playButton {
        width: 85px;
        height: inherit;
        background-image: url("../assets/images/guide_play_button.png");
        background-size: cover;
        padding:0;

        .guidePlayIcon {
            position: absolute;
            width: 22px;
            height: inherit;
            left: 33px;
            top: 12px;
            background-image: url("../assets/images/guide_play_icon.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        .guidePauseIcon {
            position: absolute;
            width: 19px;
            height: 45px;
            left: 34px;
            top: 13px;
            background-image: url("../assets/images/guide_pause_icon.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

    }
    #previousSelectionButton {
        width: 70px;
        height: inherit;
        background-image: url("../assets/images/guide_music_secondary_button.png");
        background-size: cover;
        padding:0;

        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 20px;
            left: 35%;
            top: 30%;
            transform: translate(-50%);
            border-radius: 1px;
            background-color: #7a7a7add;
            z-index: -1;
        }
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 60%;
            top: 30%;
            transform: translate(-50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 18px solid #7a7a7add;
            z-index: -1;
        }
    }
    #nextSelectionButton {
        width: 70px;
        height: inherit;
        background-image: url("../assets/images/guide_music_secondary_button.png");
        background-size: cover;
        padding:0;

        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 20px;
            left: 60%;
            top: 30%;
            transform: translate(-50%);
            border-radius: 1px;
            background-color: #7a7a7add;
            z-index: -1;
        }
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 35%;
            top: 30%;
            transform: translate(-50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 18px solid #7a7a7add;
            z-index: -1;
        }
    }
    #arrowSelectionButton {
        width: 70px;
        height: inherit;
        background-image: url("../assets/images/guide_music_secondary_button.png");
        background-size: cover;
        padding:0;

        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 15px;
            left: 37%;
            top: 40%;
            transform: translate(-50%);
            border-radius: 1px;
            background-color: #7a7a7add;
            z-index: -1;
        }

        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 15px;
            left: 55%;
            top: 30%;
            transform: translate(-50%);
            border-radius: 1px;
            background-color: #7a7a7add;
            z-index: -1;
        }

        > span::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 37%;
            top: 28%;
            transform: translate(-50%);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 10px solid #7a7a7add;
            z-index: -1;
        }

        > span::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 55%;
            top: 50%;
            transform: translate(-50%);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 10px solid #7a7a7add;
            z-index: -1;
        }
    }

    #soundAdjustButton {
        width: 70px;
        height: inherit;
        background-image: url("../assets/images/guide_music_secondary_button.png");
        background-size: cover;
        padding:0;

        &:after {
            content: "";
            position: absolute;
            width: 35px;
            height: inherit;
            left: 55%;
            top: 23%;
            transform: translate(-50%);
            background: url("../assets/images/volume_adjust_icon.png");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }

}

.musicPlayerSongTitleContainer {
    width: calc(100% - 20px);
    height: 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 4px 0px white;
    cursor: pointer;

    > p {
        position: relative;
        font-size: calc(var(--meta-panel-header));
        padding-left: 10px;
        top: -2px;
    }

}

.guideMusicPlayerTitle {

}

.backgroundHighlightGlow {
    position: absolute;
    width: 95%;
    height: 33px;
    left: 50%;
    transform: translate(-50%, -5%);
    top: 57px;
    background: radial-gradient(ellipse, rgba(255,255,255,1) 30%, rgba(174,200,159,1) 65%);
    border-radius:50%;
    z-index: -1;
}

.guideMenuXboxLogoContainer {
    position: relative;
    width: 400px;
    height: 95px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 7px 4px rgb(99, 99, 99);
    background: linear-gradient(90deg, rgba(188,191,190,1) 0%, rgba(255,255,255,1) 45%);

    .xboxGuideLogo {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../assets/images/xbox_360_guide_logo.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 50%;
    }
}



/************* Guide menu styling END ***************/


/************* About Dashboard Section ***************/

.aboutDashboardContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(var(--extended-container-width));
    height: calc(var(--extended-container-height));;
    left: 80px;
    top: 60px;
    margin-right: 20px;

    opacity: 0;
    display: none;

    > h2 {
        font-size: calc(var(--screen-heading-size));
        color: var(--white-text);
        margin-bottom: 20px;
    }

}

.scrollableContent {
    position: relative;
    width: inherit;
    height: 520px;
    overflow-y:auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: rgb(218, 218, 218) rgba(0, 0, 0, 0.201);

    > h3 {
        font-size: calc(var(--text-link-size));
        color: white;
        margin-top: 20px;
    }
}

.articleImg {
    width: 850px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

#timeMagazineBillGates {
    background-image: url("../assets/images/time_magazine_bill_gates.png");
}

#wmpSkinsImg {
    background-image: url("../assets/images/wmpSkinsImg.png");
}

.articleParagraph {
    margin-top: 5px;
    padding-right:5px;
    font-size: calc(var(--text-body-size));
}

#wmpParagraph {
    position: relative;
    top: 10px;
    margin-bottom: 40px;
}

/************* About Dashboard END ***************/

/************* Select Theme Section ***************/

#themeSelectTitle{
    position: relative;
    color: var(--white-text);
    top: -5px;
}

.guideSelectThemeContainer {
    position: absolute;
    width: 400px;
    left: calc(100% - 585px);
    top: 70px;
    opacity: 0;
    display: none;


    > h3 {
        position: relative;
        top: 10px;
    }

}

/************* Select Theme Section END ***************/

/************* Gamer Profile Section ***************/

.gamerProfileContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(var(--extended-container-width));
    height: calc(var(--extended-container-height));;
    left: 80px;
    top: 60px;
    margin-right: 20px;

    opacity: 0;
    display: none;

    > h2 {
        font-size: calc(var(--screen-heading-size));
        color: var(--white-text);
        margin-bottom: 20px;
    }
}



.appContainer {
    transform: translate(-50%,-50%) scale(calc(var(--scaling)));
}

@media only screen and (max-width: 500px) {
    .appContainer {
        transform: translate(-50%,-50%) scale(calc(var(--scaling)));
    }

}