#marketplaceContextContainer {
    z-index: 1;
    height: inherit;
}


.selectOption {
    position: relative;
    width: 100%;
    height: 85px;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: inset 0 0 6px 0 black;
    text-align: left;
    overflow: hidden;
}

.selectOption:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.selectOption:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.2);
}

.selectOption:nth-child(1){
    background-image: url('../assets/images/xbox_controller_cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.selectOption:nth-child(2){
    background-image: url('../assets/images/media_remote.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.selectOption:nth-child(3){
    background-image: url('../assets/images/game_demos.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90%;
}

.selectOption:nth-child(4){
    background-image: url('../assets/images/film_reel.png');
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.selectOption:nth-child(5){
    background-image: url('../assets/images/Themes\ and\ Gamerpictures.png');
    background-size: 80%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.selectOption:nth-child(6){
    background-image: url('../assets/images/woman_megaphone.png');
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.selectOption:not(:nth-last-child(1)){
    margin-bottom: 10px;
}

.selectOption > p { 
    position: absolute;
    top: 65%;
    left: 3%;
    font-size: var(--text-link-size);
    font-weight: 600;
    z-index: 2;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.364);
}

.textHighlight {
    position: absolute;
    width: inherit;
    height: 2em;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.083), rgba(255, 255, 255, 0.357) 100%);
    top: calc(100% - 2em);
}



.imageHeaderContainer {
    position: relative;
    height: 100%;
    max-height: 350px;
    width: 100%;
    border-radius: var(--border_radius);
    box-shadow: inset 0 0 6px 0 black;
    background-image: url('../assets/images/marketplace_arcade.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


