.mobileViewContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: visible;
    text-align: center;
}

.animatedBackground {
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    /* background: url('../assets/images/circles_radiating_design.png'); */
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
    transform-origin: 50% 50%;
    /* animation: rotateCircles 45s linear infinite forwards; */
    /* background-size: cover; */
    z-index: -1;
}

.videoPlayerContainer {
    position: fixed;
    width: calc(100vw - 40px);
    height: inherit;
    left: 50%;
    transform: translateX(-50%);
}

.videoScreenOverlay {
    position: absolute;
    background-color: rgb(58, 58, 58);
    width: inherit;
    height: inherit;
    z-index: 1;
    opacity: 0.5;
}

.reactPlayer {
    position: absolute;
    z-index: -1;
    width: inherit;
    height: 100vh !important;

    > video {
        height: 100vh !important;
        object-fit: cover;
        opacity: 0.7;
    }


}

.mobileContent {
    position: absolute;
    width: inherit;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 100;
}

.welcomeMessage {
    width: 100%;
    height: 200px;
    display: flex;
    /* place-content: center; */
    /* place-content: center; */
    flex-direction: column;
    /* outline: 2px solid red; */
    z-index: 1;

    >h2 {
        position: relative;
        width: 55%;
        display: inline-block;
        font-size: 2.8em;
        color: white;
        left: 50%;
        transform: translateX(-50%);

    }
}

.accentContainer {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.welcomeAccentLeft {
    width: 120px;
    height: 50px;
    background: url('../assets/images/welcome_accent_left.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.welcomeAccentRight {
    width: 120px;
    height: 50px;
    background: url('../assets/images/welcome_accent_right.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.xboxWelcome {
    position: relative;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    background: url('../assets/images/xbox_welcome_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}




.videoPlayerIntro {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: auto;
    margin-bottom: 20px;

    > h3 {
        font-size: var(--screen-heading-size);
        color: white;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.mobileInstructions {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;




     h3 {
        font-size:var(--screen-heading-size);
        margin-bottom: 20px;
        margin-top: 40px;


    }
    p {
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: var(--text-link-size);
        text-align: center;
    }

    > img {
        width: auto;
        height: auto;
    }
}

.borderSeparatorBottom {
    width: 180px;
    height: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: inherit;
    margin-top: 70px;
    
    > h2 {
        margin-bottom: 20px;
    }

    > p {
        margin-bottom: 20px;
        line-height: 1.2em;
        font-size: var(--text-body-size);
    }
}

.imageParallaxContainer {
    width: inherit;
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 20px;
    

    > img {
        width: 130%;
        height: auto;
        animation: parallaxImgScroll 15s ease-in-out infinite alternate;
    }
}

@keyframes parallaxImgScroll {
    from {
        transform: translate(0%, -1%);
    }
    to {
        transform: translate(-22%, -25%);
    }
}

.glowAnimated {
    position: relative;
    width: inherit;
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 20px;
    

    > img {
        width: 135%;
        height: 100%;
        /* animation: parallaxImgScroll 15s ease-out infinite alternate; */
    }
}

@keyframes imageTransparentGlow {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


#xbox_logo_glow {
    position: absolute;
    top: 0;
    left: 0;
    animation: imageTransparentGlow 6s ease-out infinite alternate;
}

.toolsList {
    ul {
        position: relative;
        width: inherit;
        height: auto;
        left: -10px;
    }

    li {
        font-size: 1.5em;
        margin-left: 20px;
    }
}

.linkSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: 500px;
    margin-top: 20px;
    > h2 {
        color: var(--white-text);
        margin: 0 auto;
    }


}

#link_1 {
    background: url("../assets/images/rowland_brown_website_gamecase.png");
    background-repeat: no-repeat;
}

#link_2 {
    background: url("../assets/images/rowland_brown_behance_gamecase.png");
    background-repeat: no-repeat;
}

#link_3 {
    background: url("../assets/images/xbox_360_styleguide_gamecase.png");
    background-repeat: no-repeat;
}

.gamecaseList {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gameCaseLisItem {
    cursor: pointer;
    width: 90px;
    height: 132px;
    margin-left: 35px;
}

.gamecaseAnchorTag {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 90px;
    height: 132px;
    top: 35px;
    left: 5px;
    font-size: 1.2em;
    color: var(--white-text);
}


.enableFullScreenPrompt {
    position: absolute;
    width: 1200px;
    height: inherit;
    background: radial-gradient(ellipse, rgb(125, 125, 125) 0%, rgba(68,68,68,1) 50%);
    /* background-position: 50px; */
    /* background-color: red; */
    display: grid;
    place-content: center;
    z-index: 999;

    &:before {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background: url("../assets/images/power_rings_img.png");
        background-repeat: no-repeat;
        background-position: -200% -800%;
        z-index: -1;
    }

    &:after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background: url("../assets/images/power_rings_img.png");
        background-repeat: no-repeat;
        background-position: 300% 900%;

        z-index: -1;
    }

}

.fullscreenButtonContainer {
    display: grid;
    place-content: center;
    width: 400px;
    height: 400px;
    /* background-color: lightskyblue; */

    > p {
        color: white;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }


}

#fullscreenButton {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: 1px solid green;
    background-color: lightgreen;
    font-size: 32px;
    border-radius: 5px;
    cursor: pointer;
}



@keyframes rotateCircles { 
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}

}