.outerContextContainer {
    position: absolute;
    width: 100%;
}

.mainGridContent {
    position: relative;
    display: grid;
    height: auto;
    width: 100%;
    place-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid red; */
    grid-template-columns: 345px 345px;
    grid-template-rows: 550px;
    column-gap: 20px;
    grid-template-areas: 
    "left-content right-content";
    transition: opacity 0.4s ease-in;
    padding: 33px 0;
}

.leftContent {
    grid-area: left-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.rightContent {
    grid-area: right-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.marketplaceMainContent {
    width: inherit;
    height: inherit;
}

.marketplaceSpotlightPage {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    padding-top: 30px;
    align-items: center;
}

.subMenuUnderlay {
    position: absolute;
    width: 100%;
    height: 565px;
    top: 70px;
    background: linear-gradient(180deg, rgba(211,183,167,1) 0%, rgba(195,145,117,1) 50%, rgba(155,112,89,1) 100%);
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.spotlightHeading {
    position: relative;
    width: inherit;
    height: 150px;

    >h2 {
        position: relative;
        margin-left: 60px;
        /* top: 30px; */
        font-size: var(--screen-heading-size);
        color: var(--white-text);
        margin-bottom: 20px;
    }

    .marketplaceBannerContainer {
        display: flex;
        position: relative;
        /* top: 50px; */
        width: inherit;
        height: 100px;
        justify-content: center;
    
    
    }
    
    #marketplaceBanner {
        height: inherit;
        width: 750px;
        height: inherit;
        background: url("../assets/images/marketplace_banner.png");
        background-repeat: no-repeat;
    }
    

}


.marketplaceNavSelectContainer {
    width: inherit;
    height: 40px;
    /* background-color: purple; */
}

.marketplaceNavSelectList {
    display: inline;
    position: absolute;
    padding-left: 60px;
    margin-top: 15px;
    cursor: pointer;

}

.marketplaceNavSelectListItem {
    display: inline;
    position: relative;
    font-size: var(--screen-heading-size);
    color: var(--white-text);
    margin-right: 50px;

}

#marketplaceNavItemActive {
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.marketplaceContentView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
    height: 380px;
    margin-left: 20px;
    margin-top: 20px;
    /* background-color: lightskyblue; */
}



.scrollList {
    width: 400px;
    height: inherit;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: inherit;
    /* border: 2px solid blue; */
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px 2px rgb(0, 0, 0);
    /* padding-left: 20px; */
    padding-right: 20px;
}

.descriptionTitle {
    width: inherit;
    height: 50px;
    padding-top: 20px;

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        width: inherit;
        border-radius: 8px 8px 0 0;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.25);
        transform: translate(-20px, -20px);
    }
}

.navButtonContainer {
    position: relative;
    width: inherit;
    height: 50px;
    /* background-color: orange; */
    margin-top: 10px;
}

.gamesSubNavButton {
    position: absolute;
    width: inherit;
    height: 50px;
    left: -10px;
    top: calc(100% - 20px);
    /* background-color: orange; */
    margin-top: 10px;
}

.subMenuBackButtonContainer {
    position: absolute;
    display: flex;
    left: calc(100% - 120px);
    top: 10px;
    width: 100px;
    height: 35px;
    font-size: calc(var(--text-link-size));
    cursor: pointer;
    z-index: 2;

    > p {
        position: relative;
        margin-right: 5px;
        color: var(--white-text);
    }

    .bControllerImg {
        position: relative;
        top: -2px;
        width: 32px;
        height: inherit;
        background-image: url("../assets/images/b_button.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.descriptionContent {
    margin-top: 20px;
}




/*******GAMES PAGE********/

#playedGames, #gamesXboxliveArcade, #gameDemos, #gameTrailers {
    justify-content: space-around;
}



.playedGamesContentView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
    height: 520px;
    /* margin-left: 20px; */
    margin-top: 0px;
    /* outline: 2px solid blue; */

    >h2 {
        position: absolute;
        top: -30px;
        margin-left: 20px;
        font-size: var(--screen-heading-size);
        color: var(--white-text);
    }
}

.gamesDescriptionBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: inherit;
    /* border: 2px solid blue; */
    /* border-radius: 8px; */
    /* box-shadow: inset 0px 0px 8px 2px rgb(0, 0, 0); */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.gamesdDescriptionTitleContainer {
    position: relative;
    width: inherit;
    height: 100px;
    border-radius: var(--border_radius);
    box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.701);

    /* outline: 2px solid red; */
}

/* .gamesDescriptionContent {
    position: relative;
} */

.gamesDescriptionTitle {
    width: inherit;
    height: 50px;
    padding-top: 20px;
    margin-left: 20px;

}

.gamesDescriptionContent {
    margin-top: 10px;
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: var(--border_radius);
    box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.701);

    > p {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.musicPlayerControls {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: inherit;
    border-radius: var(--border_radius);
    box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.701);
    overflow: hidden;
}

/*******GAMES PAGE END********/

/*******Media PAGE********/

.mediaMusicPlayerContentView {
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    left: -20px;
    width: 820px;
    height: 520px;
    /* margin-left: 20px; */
    margin-top: 0px;
    /* outline: 2px solid blue; */

    > h2 {
        position: absolute;
        top: -65px;
        font-size: var(--screen-heading-size);
        color: var(--white-text);
    }
}

.musicSelectionList {
    width: 380px;
    height: inherit;
    margin-left: 10px;
}

