
svg {
    pointer-events: none;
}

path {
    pointer-events: auto;
}

.bladeBase {
    position: absolute;
    z-index: -1;
    width: 87px;
    height: 992px;
    left: -10px;
    top: -70px;
    /* width="65" height="751" */
    fill: url("#paint0_radial_216_168");
    stroke: black;
    stroke-opacity: 0.5;
    /* pointer-events: initial; */
    /* border: 2px solid green; */
}

.bladeJewel {
    position: absolute;
    width: 70px;
    height: 992px;
    left: 28px;
    top: -70px;
    /* pointer-events: initial; */
    
}

.bladeBaseRight {
    position: absolute;
    z-index: -1;
    width: 87px;
    height: 992px;
    left: 25px;
    top: -70px;
    /* width="65" height="751" */
    fill: url("#paint0_radial_216_168");
    stroke: black;
    stroke-opacity: 0.5;
    /* pointer-events: initial; */
}

.bladeJewelRight {
    position: absolute;
    width: 66px;
    height: 992px;
    left: 5px;
    top: -70px;
    /* pointer-events: initial; */
}

.activeMarketplaceJewelFill {
    fill: url("#paint0_radial_217_185");
}

.activeXboxliveJewelFill {
    fill: url("#paint0_radial_217_189");
    transition: fill 2s;
}

.activeGamesJewelFill {
    fill: url("#paint0_radial_217_181");
}

.activeMediaJewelFill {
    fill: url("#paint0_radial_217_193");
}

.activeSystemJewelFill {
    fill: url("#paint0_radial_217_197");
}

.inactiveBladeFill {
    /* transform: scale(0.80) translateY(40px); */
    fill: url("#paint0_radial_216_167");
    transition: fill 2s;
}

.bladeShrink {
    transform: scale(0.80) translateY(40px);
}


.transitionBlade {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple;
    opacity: 1;
}

@media screen and (max-width: 1350px) {
    .bladeBase {
        transform: scale(0.65) translateY(-25%);
    }
    .bladeJewel {
        transform: scale(0.65) translateY(-25%);
        left: 20px;
    }
    .bladeBaseRight {
        transform: scale(0.65) translateY(-25%);
    }
    .bladeJewelRight {
        transform: scale(0.65) translateY(-25%);
        left: 20px;
    }
}