/*** Outer blade container and individual blade containers ***/

.bladeContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: lightskyblue; */
    z-index: 10;
    /* transform: translateX(var(--shiftIndex, 0) * var(--blade-size, 0)); */
    transition: transform 0.8s ease-out;
    pointer-events: none;
    /* margin-left: -20px; */
    /* overflow: hidden; */
}

.blade {
    position: absolute;
    /* left: -90px; */
    width: 0px;
    /* width: var(--blade-size); */
    height: 100%;
    /* background-color: greenyellow; */
    /* border: 1px solid black; */
    transition: transform 0.6s ease-in;
    pointer-events: none;
    overflow: visible;
}





.blade:hover {
    cursor: pointer;
}

.blade:nth-child(1){
    transform: translateX(-45px);
}

.blade:nth-child(2){
    transform: translateX(30px);
}

.blade:nth-child(3){
    transform: translateX(80px);
}

.blade:nth-child(4){
    transform: translateX(130px);
}

.blade:nth-child(5){
    transform: translateX(180px);
}




.blade > p {
    position: relative;
    display: block;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
    white-space: nowrap;
}





/*** SVG STYLING ***/

svg {
    pointer-events: none;
}

path {
    pointer-events: auto;
}

.bladeBase {
    position: absolute;
    z-index: -1;
    width: 87px;
    height: 992px;
    left: -10px;
    top: -70px;
    /* width="65" height="751" */
    fill: url("#paint0_radial_216_168");
    stroke: black;
    stroke-opacity: 0.5;
    /* pointer-events: initial; */
    /* border: 2px solid green; */
}

.bladeJewel {
    position: absolute;
    width: 70px;
    height: 992px;
    left: 28px;
    top: -70px;
    /* pointer-events: initial; */
    
}

.bladeBaseRight {
    position: absolute;
    z-index: -1;
    width: 87px;
    height: 992px;
    left: 25px;
    top: -70px;
    /* width="65" height="751" */
    fill: url("#paint0_radial_216_168");
    stroke: black;
    stroke-opacity: 0.5;
    /* pointer-events: initial; */
}

.bladeJewelRight {
    position: absolute;
    width: 66px;
    height: 992px;
    left: 5px;
    top: -70px;
    /* pointer-events: initial; */
}

.activeMarketplaceJewelFill {
    fill: url("#paint0_radial_217_185");
}

.activeXboxliveJewelFill {
    fill: url("#paint0_radial_217_189");
    transition: fill 2s;
}

.activeGamesJewelFill {
    fill: url("#paint0_radial_217_181");
}

.activeMediaJewelFill {
    fill: url("#paint0_radial_217_193");
}

.activeSystemJewelFill {
    fill: url("#paint0_radial_217_197");
}

.inactiveBladeFill {
    /* transform: scale(0.80) translateY(40px); */
    fill: url("#paint0_radial_216_167");
    transition: fill 2s;
}

.bladeShrink {
    transform: scale(0.80) translateY(40px);
}


.transitionBlade {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple;
    opacity: 1;
}



@media screen and (max-height: 575px) {
    .bladeBase {
        height: 700px;

    }
    .bladeJewel {
        height: 700px;

        left: 20px;
    }
    .bladeBaseRight {
        height: 700px;
    }
    .bladeJewelRight {
        height: 700px;
        left: 14px;
    }
}