
.containerReset {
    position: relative;
    width: 100%;
}

.selectItemListContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 150px;
    margin-top: 10px;
    /* background-color: blue; */
}

.selectItemListContainer:before {
    content: "";
    position: absolute;
    width: inherit;
    height: 1px;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.302);
}


.innerListContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Page specific styles */
.systemListContainer {
    max-height: 460px;
}


.xboxliveListContainer {
    max-height: 150px;
}

#marketSelectList {
    height: 100%;
}

#marketSelectList .innerListContainer .listItem p .listItemHighlight {
    height: 2.8em;
    top: -0.8em;
}

#marketSelectList .innerListContainer .listItem {
    height: 63px;
}



/* Page specific styles */



.listItem {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    /* background-color: chocolate; */
}

.listItemBorder {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.listItem:hover{
    cursor: pointer;
}




.listItem > .listIcon {
    width: 64px;
}


.innerListContainer > .listItem > p {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: var(--text-link-size);
    margin-left: 20px;
}


.listIcon {
    position: relative;
    display: inline-block;
    /* width: 100px; */
    height: 100%;
}


.listItemHighlight {
    position: absolute;
    width: 115%;
    height: 2.1em;
    /* background-color: lightblue; */
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.322) 5%, #a1939300 65%),
    radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.315) 5%, #a1939300 65%);
    top: -0.5em;
    left: -90px;
    z-index: -1;
    transition: opacity var(--transition_duration);
}



.boxInsetHighlightContainer {
    position: absolute;
    width: calc(100% + 30px);
    height: 120px;
    top: 45px;
    left: 0px;
    pointer-events: none;
    /* background-color: red; */
}

#mediaHighlightContainer {
    height: 225px;
}

#systemHighlightContainer {
    height: 325px;
}

#gamesHighlightContainer {
    height: 225px;
}


.boxInsetHighlightMaskTop {
    position: absolute;
    width: 100%;
    height: 105%;
    top: -60px;
    /* background-color: red; */
    overflow: hidden;
}

.boxInsetHighlightMaskBottom {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(135, 206, 250, 0.493); */
    overflow: hidden;
}

.boxInsetHighlightTop {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -20px;
    top: calc(-100% + 10px);
    border-radius: 0 0 15px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-shadow: inset -1px 2px 10px 0px rgba(0, 0, 0, 0.623);
    transition: opacity var(--transition_duration);
    /* background-color: red; */
}

.boxInsetHighlightBottom {
    position: absolute;
    height: 102%;
    width: 100%;
    left: -20px;
    top: 5px;
    border-radius: 0 15px 0 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-shadow: inset -1px 2px 10px 0px rgba(0, 0, 0, 0.623);
    transition: opacity var(--transition_duration);
    /* background-color: red; */
}

/* Bottom Highlights */

.boxInsetHighlightBottom:nth-child(1) {
    top: 5px;
}

.boxInsetHighlightBottom:nth-child(2) {
    top: 55px;
}

.boxInsetHighlightBottom:nth-child(3) {
    top: 105px;
}

.boxInsetHighlightBottom:nth-child(4) {
    top: 155px;
}

.boxInsetHighlightBottom:nth-child(5) {
    top: 205px;
}

.boxInsetHighlightBottom:nth-child(6) {
    top: 255px;
}

.boxInsetHighlightBottom:nth-child(7) {
    top: 305px;
}

/* Top Highlights */

.boxInsetHighlightTop:nth-child(1) {
    top: calc(-100% + 15px);
}

.boxInsetHighlightTop:nth-child(2) {
    top: calc(-100% + 65px);
}

.boxInsetHighlightTop:nth-child(3) {
    top: calc(-100% + 115px);
}

.boxInsetHighlightTop:nth-child(4) {
    top: calc(-100% + 165px);
}

.boxInsetHighlightTop:nth-child(5) {
    top: calc(-100% + 215px);
}

.boxInsetHighlightTop:nth-child(6) {
    top: calc(-100% + 265px);
}

.boxInsetHighlightTop:nth-child(7) {
    top: calc(-100% + 315px);
}



/* #marketplaceSection > .boxInsetHighlightContainer {
    top: 55px;
}

#marketplaceSection > .boxInsetHighlightContainer > .boxInsetHighlightMaskTop {
    top: -50px;
}

#marketplaceSection > .boxInsetHighlightContainer > .boxInsetHighlightMaskBottom {
    height: 108px;
}




#xboxliveSection > .boxInsetHighlightContainer {
    top: 55px;
}

#xboxliveSection > .boxInsetHighlightContainer > .boxInsetHighlightMaskTop {
    top: -50px;
}

#xboxliveSection > .boxInsetHighlightContainer > .boxInsetHighlightMaskBottom {
    height: 108px;
}




#gamesSelection >.innerListContainer {
    top: 0;
    min-height: 250px;
}

#gamesSelection > .boxInsetHighlightContainer {
    top: 55px;
}

#gamesSelection > .boxInsetHighlightContainer > .boxInsetHighlightMaskTop {
    top: -50px;
}

#gamesSelection > .boxInsetHighlightContainer > .boxInsetHighlightMaskBottom {
    height: 250px;
}




#mediaSelection >.innerListContainer {
    top: 0;
}

#mediaSelection > .boxInsetHighlightContainer {
    top: 55px;
}

#mediaSelection > .boxInsetHighlightContainer > .boxInsetHighlightMaskTop {
    top: -50px;
}

#mediaSelection > .boxInsetHighlightContainer > .boxInsetHighlightMaskBottom {
    height: 250px;
} */
