


.mainContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: var(--container-width);
    height: var(--container-height);
    /* background-color: red; */
}


/*Blade Styling */
.bladeContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    left: 10%;
    /* background-color: lightskyblue; */
    z-index: 10;
    /* transform: translateX(var(--shiftIndex, 0) * var(--blade-size, 0)); */
    transition: transform 0.8s;
}

.blade {
    position: relative;
    width: var(--blade-size);
    height: 100%;
    background-color: greenyellow;
    transition: transform 0.6s ease-in;
}

.bladeTransition {
    /* left: calc(var(--container-width) - 24.5%); */
}


.blade > p {
    position: relative;
    display: block;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
    white-space: nowrap;
}

.blade:nth-child(n + 2) {
    margin-left: 5px;
}

.topBorder {
    position: absolute;
    width: 101%;
    height: 90px;
    left: 50%;
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 0px 0px 40px 40px;
    transform: translateX(-50%);
}

.bottomBorder {
    position: absolute;
    width: 101%;
    height: 90px;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 40px 40px 0px 0px;
}


.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    top: 89%;
    padding: 0 35px;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 100%;
    margin-top: 5px;
}

.buttonStyle {
    width: 100%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

#yButton {
    background-image: url('../assets/images/y_button.png');
    margin-bottom: 5px;
    margin-left: 20px;
}

#xButton {
    background-image: url('../assets/images/x_button.png');
}

#bButton {
    background-image: url('../assets/images/b_button.png');
    margin-bottom: 5px;
    margin-left: -20px;
}

#aButton {
    background-image: url('../assets/images/a_button.png');
}



/* Games Section */
.gamesContainer {
    position: relative;
    width: calc(100%);
    height: 100%;
    background: linear-gradient(89.59deg, #F59542 0.88%, #F9B43F 50.8%, #F59542 99.29%);
    margin: 0 auto;
    /* text-align: left; */
    overflow: hidden;
    
}

.sectionHeading {
    position: absolute;
    left: 30px;
    top: 55px;
    z-index: 10;
    color: white;
    font-weight: 500;
}

#xboxlive {
    position: relative;
    left: 52%;
    transform: translateX(-50%);
    display: grid;
    height: 100%;
    max-height: 475px;
    width: 102%;
    margin: 100px 20px 0 20px;
    grid-template-columns: 45% 45%;
    column-gap: 20px;
    grid-template-areas: 
    "left-content right-content"
    "left-content right-content"
    "left-content .";
    transition: opacity 0.4s ease-in;
}

.makeTransparent {
    position: absolute !important;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.leftContent {
    grid-area: left-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(125px, 150px));
    row-gap: 20px;
    /* background-color: slateblue; */
    text-align: left;
}

.profileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr;
    grid-template-areas: 
    "profile-name profile-name profile-name profile-name"
    "profile-img profile-desc profile-desc profile-desc";
    width: 100%;
    height: 100%;
    /* background-color: orange; */
    border-radius: 15px;
    text-align: left;
    font-size: 1.5rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 -1px 4px 0px black;
}

.profileContainer > p {
    grid-area: profile-name;
    position: relative;
    width: inherit;
    height: 35px;
    left: 10px;
    font-weight: 500;
    z-index: 2;
}

.profileContainer > p:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    left: -10px;
    top: 0;
    background: linear-gradient(270deg, #00000000, #00000071);
}


.profileImgContainer {
    grid-area: profile-img;

    /* background-color: violet; */
}

.profileIcon {
    position: relative;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: url('../assets/images/profile_icon.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}


.profileDescription {
    grid-area: profile-desc;
    z-index: 2;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    grid-template-areas:
    "rep-title . rep-stars rep-stars"
    "gamerscore-title gamerscore-title . gamerscore-value"
    "zone-title . . zone-status";
    row-gap: 4px;
    margin-right: 15px;
    margin-top: 10px;
    /* height: 90%; */
}

.repTitle {
    grid-area: rep-title;
    /* background-color: lightgrey; */
}

.reputationStars {
    grid-area: rep-stars;
    /* background-color: darkgray; */
    display: flex;

}

.gamerscoreTitle {
    grid-area: gamerscore-title;
    /* background-color: lightsteelblue; */
}

.gamerscoreValue {
    grid-area: gamerscore-value;
    /* background-color: darkkhaki; */
    text-align: right;
    margin-right: 10px;
}

.zoneTitle {
    grid-area: zone-title;
    /* background-color: lightyellow; */
}

.zoneStatus {
    grid-area: zone-status;
    /* background-color: darkturquoise; */
    text-align: right;
    margin-right: 10px;
}

.starIcon {
    width: 100%;
    height: 100%;
    background: url('../assets/icons/reputation_star_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}



.selectItemListContainer {
    width: 100%;
    /* background-color: lavender; */
}

.innerListContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.innerListContainer > div {
    display: flex;
    width: 100%;
    height: 50%;
    /* background-color: chocolate; */
}

.listItem:after {
    content: "";
    position: absolute;
    width: 97%;
    height: 2px;
    top: -9px;
    left: 0;
    background-color: rgba(9, 9, 9, 0.295);
    border-radius: 5px;
}

.listItem:before {
    content: "";
    position: absolute;
    width: 97%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: rgba(9, 9, 9, 0.295);
    border-radius: 5px;
}

.listItem_2:after {
    content: "";
    position: absolute;
    width: 97%;
    height: 2px;
    top: 105%;
    left: 0;
    background-color: rgba(9, 9, 9, 0.295);
    border-radius: 5px;
}

/* .listItem:before {
    content: "";
    position: absolute;
    width: 97%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: rgba(9, 9, 9, 0.295);
    border-radius: 5px;
} */



.innerListContainer > div:nth-child(1) {
    margin-bottom: 10px;
}

.innerListContainer > div > p {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    /* background-color: lavender; */
    /* top: 50%;
    transform: translateY(-50%); */
}

.innerListContainer > div:nth-child(1) > p {
    padding-top: 20px;
}



.listIcon {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
}

.joinXBL_icon {
    background: url('../assets/icons/join_xboxlive.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.person_icon {
    background: url('../assets/icons/person_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.xboxliveAnimationContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4f4e50;
    border-radius: 15px;
    box-shadow: inset 0 0 6px 0px black;
    overflow: hidden;
}


.circleAnimation {
    position: relative;
    width: 100%;
    height: 100%;
}

.xboxliveAnimationContainer > .logoContainer {
    position: absolute;
    width: calc(30%);
    height: 100%;
    left: 45%;
    top: 20%;
    background-image: url('../assets/images/Xbox Live Logo_vector.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.rightContent {
    grid-area: right-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, minmax(175px, 175px));
    row-gap: 20px;
    /* background-color: slategrey; */
}


.xboxliveLogo {
    position: relative;
    /* background-color: aquamarine; */
    background-image: url('../assets/images/Xbox\ Live\ Logo_vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;
}

.xboxliveLogo:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    left: 50%;
    top: 115%;
    transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(#050505bd, #0000006e);
    opacity: 0.6;
}

.descriptionContainer {
    /* background-color: rgb(204, 83, 220); */
    text-align: left;
}

.descriptionTitle {
    font-size: 1.7rem;
    font-weight: 500;
}

.descriptionContent {
    font-size: 1.6rem;
    margin-top: 10px;
    padding-left: 10px;
    /* background-color: antiquewhite; */
}

.bottomContent {
    grid-area: bottom-content;
    height: 100px;
    background-color: darkgreen;
}




/*System Tray*/

.systemTrayContainer {
    position: relative;
    width: calc(100% - 65px);
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.systemTrayContainer > p {
    /* left: 30px; */
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translateY(-60%);
    font-size: 1.4rem;
}

.trayEllipse {
    width: 70px;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 7px 0 black;
}

.trayRect {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: inset 0 0 4px 0 black;
}

.trayTriangleButton {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.466);
    border-bottom: 10px solid transparent;
}

.trayRectButton {
    position: absolute;
    width: 4px;
    height: 19px;
    top: 50%;
    left: 43px;
    transform: translateY(-50%);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.466);
}
