.bladeOrientationOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82);
    z-index: 999;
}


.mainContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(var(--container-width) + 120px);
    height: calc(var(--container-height));
    max-height: 780px;
    /* border: 10px solid red; */
}



.bladeContainerMask {
    position: absolute;
    width: 100%;
    height: var(--container-height);
    left: 50%;
    top: 50%;
    max-height: 760px;
    transform: translate(-50%, -50%);
    /* background-color: #f1f2f6; */
    background-image: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    overflow: hidden;
    /* visibility: hidden; */
}

.topContainerBorder {
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    box-shadow: 0 1px 5px 0 black;
    z-index: 1;
}

.bottomContainerBorder {
    position: absolute;
    width: 100%;
    height: 5px;
    top: calc(100% - 5px);
    background-image: linear-gradient(0deg, #B3A89E 0%, #E5E5E5 80%);
    box-shadow: 0 -1px 5px 0 black;
    z-index: 1;
}






.blade > p {
    position: relative;
    display: block;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
    white-space: nowrap;
}


.topBorder {
    position: absolute;
    width: 103%;
    height: 90px;
    left: 50%;
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 0px 0px 70px 70px;
    transform: translateX(-50%);
}

.bottomBorder {
    position: absolute;
    width: 103%;
    height: 90px;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 -1px 7px 0px black;
    border-radius: 70px 70px 0px 0px;
}

.lightOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.315) 85%);
    z-index: 10;
    opacity: 0.4;
    pointer-events: none;
}


.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    top: 89%;
    padding: 0 35px;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 100%;
    margin-top: 5px;
}

.buttonStyle {
    width: 100%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

#yButton {
    background-image: url('../assets/images/y_button.png');
    margin-bottom: 5px;
    margin-left: 20px;
}

#xButton {
    background-image: url('../assets/images/x_button.png');
}

#bButton {
    background-image: url('../assets/images/b_button.png');
    margin-bottom: 5px;
    margin-left: -20px;
}

#aButton {
    background-image: url('../assets/images/a_button.png');
}



/* Games Section */
.gamesContainer {
    position: relative;
    width: calc(100%);
    height: 100%;
    /* background: linear-gradient(89.59deg, #F59542 0.88%, #F9B43F 50.8%, #F59542 99.29%); */
    margin: 0 auto;
    /* text-align: left; */
    overflow: hidden;
}

.marketplaceBackground {
    position: absolute;
    width: calc(100%);
    height: 100%;
    background: linear-gradient(89.59deg, #F47B1E 0.88%, #FFA743 50.8%, #F47B1E 99.29%);
    z-index: -10;
}

.xboxliveBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.59deg, #D78034 0.88%, #FDBA4C 48.47%, #D78034 99.29%);
    z-index: -9;
}

.gamesBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.59deg, #43903D 0.88%, #69CF38 50.8%, #43903D 99.29%);
    z-index: -8;
}

.mediaBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.59deg, #4582B9 0.88%, #449AED 50.8%, #4582B9 99.29%);
    z-index: -7;
}

.systemBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.59deg, #8660BB 0.88%, #AE87FF 50.8%, #8660BB 99.29%);
    z-index: -6;
}

.sectionHeading {
    position: absolute;
    left: 30px;
    top: 55px;
    z-index: 10;
    color: white;
    font-weight: 500;
}



/*System Tray*/

.systemTrayContainer {
    position: absolute;
    width: calc(100% - 65px);
    height: 70px;
    left: 50%;
    top: 76%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.systemTrayContainer > p {
    /* left: 30px; */
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translateY(-60%);
    font-size: 1.4rem;
}

.trayEllipse {
    width: 70px;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 7px 0 black;
}

.trayRect {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: inset 0 0 4px 0 black;
}

.trayTriangleButton {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.466);
    border-bottom: 10px solid transparent;
}

.trayRectButton {
    position: absolute;
    width: 4px;
    height: 19px;
    top: 50%;
    left: 43px;
    transform: translateY(-50%);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.466);
}



@media screen and (max-height: 575px) {

    .mainContainer {
        height: 100%;
        width: 75vw;
    }
    .bladeContainerMask {
        height: 100vh;
        max-height: 100vh;
    }

    .blade:nth-child(1){
        transform: translateX(-55px);
    }
    .blade:nth-child(2){
        transform: translateX(12px);
    }
    .blade:nth-child(3){
        transform: translateX(52px);
    }
    .blade:nth-child(4){
        transform: translateX(92px);
    }
    .blade:nth-child(5){
        transform: translateX(132px);
    }
}

@media screen and (max-height: 575px) {

    
    .topBorder, .bottomBorder {
        height: 30px;
    }

    .bottomBorder {
        top: calc(100% - 30px);
    }
}





      /* Can be useful when wanting to hide content before orientating */
    /* .bladeContainerMask {
        visibility: hidden;
    } */