#mediaContextContainer {
    z-index: var(--z-depth);
}

#media {
    position: static;
    display: grid;
    height: 100%;
    max-height: 475px;
    min-height: 475px;
    width: 102%;
    margin: 100px 20px 0 20px;
    grid-template-columns: 45% 45%;
    column-gap: 20px;
    grid-template-areas: 
    "left-content right-content";
    transition: opacity 0.4s ease-in;
}

.leftContent {
    grid-area: left-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* #mediaSelection > div {
    background-color: red;
} */