@font-face {
  font-family: 'x360';
  src: url('./assets/fonts/x360.ttf');
}

:root {
  --blade-size: 30px;
  --container-width: 54vw;
  --container-height: 80vh;
  --transition_value: calc(var(--container-width) - 24.5%);
}

* {
  box-sizing: border-box;
  font-family: "x360";
}

h1,h2,h3,h4,p {
  margin: 0;
}

ul {
  padding: 0;
  text-align: left;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(73, 75, 77);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
