@font-face {
  font-family: Convection;
  src: url('./assets/fonts/Conv.ttf');
}

@font-face {
  font-family: Convection;
  src: url('./assets/fonts/Convmd.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Convection;
  src: url('./assets/fonts/Convb.ttf');
  font-weight: bold;
}

:root {
  --blade-size: 86px;
  --container-width: 1020px;
  --container-height: 770px;
  --border_radius: 8px;
  --transition_duration: 0.6s;
  --z-depth:0;
  --scaling:1;
  --shift_resized_dashboard_x: 0px;
  --safe_border_height: 770px;

  --extended-container-width: 870px;
  --extended-container-height: 560px;

  --guidemenu_content_height: 520px;


  /* Font Sizes */
  --text-link-size: 22px;
  --screen-heading-size: 24px;
  --text-body-size: 18px;
  --meta-panel-header: 20px;
  --legend-text-size: 16px;



  --card-border-radius: 6px;

  /*  Colors */
  --dashtext-color: rgba(15, 15, 15, 0.9);
  --some-color: orange;
  --white-text: white;
  --black-text: rgba(15, 15, 15, 0.9);
  --inactive-title: rgba(68, 68, 68, 0.9);



  /*Animation Specific Variables*/
  --r1: 188px;
  --r2: 80px;
  --r3: 90px;
  --r4: 80px;
  --r5: 183px;
  --r6: 182px;
  --r7: 285px;
  --r8: 295px;
  --r9: 297px;
  --r10: 361px;
  --r11: 391px;
  --r12: 398px;
  --r13: 385px;

  --r1_color: #92c83e;
  --r2_color: #92c83d;
  --r3_color: #dae13b;
  --r4_color: #9ecd52;
  --r5_color: #92c83e;
  --r6_color: #93c740;
  --r7_color: #91c73d;
  --r8_color: #dae13b;
  --r9_color: #92c83e;
  --r10_color: #99cc48;
  --r11_color: #dbe23a;
  --r12_color: #92c83e;
  --r13_color: #93c83d;

  --duration: 22s;
  --scale_1: 1.2;
  --scale_2: 1.3;
  
  --golden_ease: cubic-bezier(0.55, 0.055, 0.675, 1.06);

}

* {
  box-sizing: border-box;
  font-family: Convection;
}


h1,h2,h3,h4,p {
  margin: 0;
}

ul {
  padding: 0;
  text-align: left;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(73, 75, 77);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
