:root {
  --blade-size: 30px;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,p {
  margin: 0;
}

ul {
  padding: 0;
  text-align: left;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(73, 75, 77);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
